/.idea
/.vscode
.editorconfig
.DS_Store
Thumbs.db

.env
.env.backup
/vendor
/node_modules
/public/hot
/public/storage # symlinked php artisan storage:link
/public/bower

/storage/*.key
/storage/app/livewire-tmp/*.*
/storage/app/public/profile-photos/*.*
/storage/debugbar
/storage/framework
/storage/logs

npm-debug.log
yarn-error.log
/phpunit.xml
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml

